<main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
  
  
          <div class="card shadow mb-4">
            <div class="card-header">
              <strong class="card-title">ویرایش اسپانسر رویداد</strong>
              <a href="/dashboard/event_partner/"
                style="color: #1b68ff; font-size: 0.85rem; text-decoration: none; margin: 2px ; border-radius: 10px; position: absolute; left: 20px; border: 1px solid #1b68ff; padding: 0px 10px;">
                <i class="fa fa-sign-out" style="margin: 5px;"></i>
                بازگشت</a>
              <a href="/dashboard/event_partner/add"
                style="color: #1b68ff; font-size: 0.85rem; text-decoration: none; margin: 2px ; border-radius: 10px; position: absolute; left: 120px; border: 1px solid #1b68ff; padding: 0px 10px;">
                <i class="fa fa-plus" style="margin: 5px;"></i>
                افزودن</a>
            </div>
            <div class="card-body">
              <form id="frm_updateEventPartner">
                <div class="row">
                  <div class="col-md-8">
  
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="image_input" style="font-size: 0.9rem;">انتخاب تصویر</label>
                        <input type="file" name="image" id="input-b1" class="file" style="padding-left: 10px;"
                          data-browse-on-zone-click="true" placeholder="<%= eventPartner.file.coverImageUrl%>">
                      </div>
  
                      <div class="card-deck mb-4" style="margin-right: 30px; margin-top: 20px;">
                        <div class="card border-0 bg-transparent">
                          <img src="<%=eventPartner.file.coverImageUrl%>" alt="..." class="card-img-top img-fluid rounded">
                          <div class="card-body">
                            <h5 class="h6 card-title mb-1">نام فایل : <%= eventPartner.file.filename%>
                            </h5>
                            <p class="card-text">
                              <span class="badge badge-light text-muted mr-2">سایز تصویر : MB <%= eventPartner.file.size%> </span>
                              <span class="badge badge-pill badge-light text-muted">فرمت فایل : <%= eventPartner.file.mimetype%>
                                  </span>
                            </p>
                          </div>
                        </div> <!-- .card -->
                      </div>
                    </div>
  
                    <div class="form-group mb-3">
                      <label for="titleinput" style="font-size: 0.9rem;">عنوان</label>
                      <%if(eventPartner.title){%>
                        <input type="text" name="title" id="titleinput" class="form-control"
                          style="background-color: rgb(243, 243, 243);" placeholder="<%=eventPartner.title%>">
                        <%} else {%>
                          <input type="text" name="title" id="titleinput" class="form-control"
                            style="background-color: rgb(243, 243, 243);" placeholder="">
                          <%}%>
                    </div>
  
                    <div class="form-group mb-3">
                      <label for="sluginput" style="font-size: 0.9rem;">عنوان انگلیسی</label>
                      <%if(eventPartner.slug) {%>
                        <input type="text" id="sluginput" name="slug" class="form-control"
                          style="background-color: rgb(243, 243, 243);" placeholder="<%=eventPartner.slug%>">
                        <%} else {%>
                          <input type="text" id="sluginput" name="slug" class="form-control"
                            style="background-color: rgb(243, 243, 243);" placeholder="">
                          <%}%>
                    </div>
  
                    <div class="form-group mb-3">
                      <label style="font-size: 0.9rem;" for="description">متن</label>
                      <div class="col-sm-12">
                        <%if(eventPartner.description){%>
                          <textarea name="description" placeholder="<%= eventPartner.description%>" id="editor" rows="10" cols="80"
                            style="height: 450px;"></textarea>
                          <%} else{%>
                            <textarea name="description" placeholder="" id="editor" rows="10" cols="80"></textarea>
                            <%}%>
                      </div>
                    </div>

                    <div class="form-group mb-3">
                      <label for="phone" style="font-size: 0.9rem;">شماره تلفن ثابت</label>
                      <%if(eventPartner.phone) {%>
                        <input type="text" id="phone" name="phone" class="form-control"
                          style="background-color: rgb(243, 243, 243);" placeholder="<%=eventPartner.phone%>">
                        <%} else {%>
                          <input type="text" id="phone" name="phone" class="form-control"
                            style="background-color: rgb(243, 243, 243);" placeholder="">
                          <%}%>
                    </div>
  
                    <div class="form-group mb-3">
                      <label for="mobile" style="font-size: 0.9rem;">شماره موبایل</label>
                      <%if(eventPartner.mobile) {%>
                        <input type="text" id="mobile" name="mobile" class="form-control"
                          style="background-color: rgb(243, 243, 243);" placeholder="<%=eventPartner.mobile%>">
                        <%} else {%>
                          <input type="text" id="mobile" name="mobile" class="form-control"
                            style="background-color: rgb(243, 243, 243);" placeholder="">
                          <%}%>
                    </div>
  
                    <div class="form-group mb-3">
                      <label for="status" style="font-size: 0.9rem;">وضعیت</label>
                      <div class="col-sm-3">
                        <%if(eventPartner.status==true) {%>
                          <select name="status" style="background-color: rgb(243, 243, 243);"
                            id="status" class="form-control">
                            <option selected value="true">فعال</option>
                            <option value="false">غیر فعال</option>
                          </select>
                          <%} else if(eventPartner.status==false){%>
                            <select name="status" style="background-color: rgb(243, 243, 243);"
                              id="status" class="form-control">
                              <option value="true">فعال</option>
                              <option selected value="false">غیر فعال</option>
                            </select>
                            <%}%>
                      </div>
                    </div>
  
                    <div class="form-group mb-2">
                      <button onclick="doUpdateEventPartner('<%= eventPartner.code%>')" class="btn btn-primary"
                        style="padding: 5px 20px; font-size: 0.85rem;">به روز رسانی</button>
                    </div>
  
                  </div> <!-- /.col -->
                </div>
              </form>
  
              <%if(messages){%>
                <div class="alert">
                  <strong style="color: rgb(51, 141, 56);">
                    <%= messages?? "" %>
                  </strong>
                </div>
                <%}%>
                  <%if(errors){%>
  
                    <div class="alert">
                      <strong style="color: rgb(245, 39, 108);">
                        <%= errors?? "" %>
                      </strong>
                    </div>
                    <%}%>
  
  
  
            </div>
          </div> <!-- / .card -->
        </div> <!-- .col-12 -->
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
  </main> <!-- main -->
  
  <script type="text/javascript">
  
    $(document).ready(function () {
  
      window.setTimeout(function () {
        $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
          $(this).remove();
        });
      }, 2000);
  
    });
  </script>
  <script>
    ClassicEditor
      .create(document.querySelector('#editor'), {
        language: {
          ui: 'en',
          content: "fa"
        },
        image: {
          toolbar: ['toggleImageCaption', 'imageTextAlternative', 'ckboxImageEdit']
        }
      })
      .then(editor => {
        console.log(editor);
      })
      .catch(error => {
        console.error(error);
      });
  </script>