<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://kit.fontawesome.com/7af5019731.js" crossorigin="anonymous"></script>

    <%if(setting){%>
    <title>داشبورد | <%= setting.title%> </title>
    <%} else if(setting == null){%>
      <title>داشبورد | </title>

      <%}%>

    <!-- file uploaded -->
    <!-- <link rel="stylesheet" href="/dashboard/upload_file/bootstrap.min.css" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/dashboard/upload_file/fileinput.min.css" media="all" type="text/css">
    <link rel="stylesheet" href="/dashboard/upload_file/all.css" crossorigin="anonymous">
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/dashboard/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/dashboard/css/feather.css">
    <link rel="stylesheet" href="/dashboard/css/select2.css">
    <link rel="stylesheet" href="/dashboard/css/dropzone.css">
    <link rel="stylesheet" href="/dashboard/css/dropzone.min.css">

    <link rel="stylesheet" href="/dashboard/css/uppy.min.css">
    <link rel="stylesheet" href="/dashboard/css/jquery.steps.css">
    <link rel="stylesheet" href="/dashboard/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/dashboard/css/quill.snow.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/dashboard/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/dashboard/css/app-light.css" id="lightTheme"> 
    <link rel="stylesheet" href="/dashboard/css/app-dark.css" id="darkTheme" disabled>

    <!-- sweetAlert2 -->
    <link
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- ویرایشگر -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
    <style type="text/css">
      .ck-editor__editable_inline{
        height: 450px;
      }
    </style>
    <%-style%>

  </head>
  <body class="vertical  light rtl">
    <div class="wrapper">
  
      <%-include("./headers.ejs")%>
     
      <%-include("./sidebar.ejs")%>
     
      <%-body%>
      
      
    </div>
<!-- file upload -->
<script src="/dashboard/upload_file/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="/dashboard/upload_file/popper.min.js"></script>
<script src="/dashboard/upload_file/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/dashboard/upload_file/fileinput.min.js"></script>

   <!-- ویراشگر -->
   
   
   <!-- sweetAlert2 -->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>

    <script src="/dashboard/js/jquery.min.js"></script>
    <script src="/dashboard/js/popper.min.js"></script>
    <script src="/dashboard/js/moment.min.js"></script>
    <script src="/dashboard/js/bootstrap.min.js"></script>
    <script src="/dashboard/js/simplebar.min.js"></script>
    <script src='/dashboard/js/daterangepicker.js'></script>
    <script src='/dashboard/js/jquery.stickOnScroll.js'></script>
    <script src="/dashboard/js/tinycolor-min.js"></script>
    <script src="/dashboard/js/config.js"></script>
    <script src="/dashboard/js/d3.min.js"></script>
   

    <script src="/dashboard/js/topojson.min.js"></script>
    <script src="/dashboard/js/datamaps.all.min.js"></script>
    <script src="/dashboard/js/datamaps-zoomto.js"></script>
    <script src="/dashboard/js/datamaps.custom.js"></script>
    <script src="/dashboard/js/Chart.min.js"></script>
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="/dashboard/js/gauge.min.js"></script>
    <script src="/dashboard/js/jquery.sparkline.min.js"></script>
    <script src="/dashboard/js/apexcharts.min.js"></script>
    <script src="/dashboard/js/apexcharts.custom.js"></script>
    <script src='/dashboard/js/jquery.mask.min.js'></script>
    <script src='/dashboard/js/select2.min.js'></script>
    <script src='/dashboard/js/jquery.steps.min.js'></script>
    <script src='/dashboard/js/jquery.validate.min.js'></script>
    <script src='/dashboard/js/jquery.timepicker.js'></script>
    <script src='/dashboard/js/dropzone.min.js'></script>
    <script src='/dashboard/js/uppy.min.js'></script>
    <script src='/dashboard/js/quill.min.js'></script> 
    <script>
      $('.select2').select2(
      {
        theme: 'bootstrap4',
      });
      $('.select2-multi').select2(
      {
        multiple: true,
        theme: 'bootstrap4',
      });
      $('.drgpicker').daterangepicker(
      {
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale:
        {
          format: 'MM/DD/YYYY'
        }
      });
      $('.time-input').timepicker(
      {
        'scrollDefault': 'now',
        'zindex': '9999' /* fix modal open */
      });
      /** date range picker */
      if ($('.datetimes').length)
      {
        $('.datetimes').daterangepicker(
        {
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale:
          {
            format: 'M/DD hh:mm A'
          }
        });
      }
      let start = moment().subtract(29, 'days');
      let end = moment();

      function cb(start, end)
      {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
      $('#reportrange').daterangepicker(
      {
        startDate: start,
        endDate: end,
        ranges:
        {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);
      cb(start, end);
      $('.input-placeholder').mask("00/00/0000",
      {
        placeholder: "__/__/____"
      });
      $('.input-zip').mask('00000-000',
      {
        placeholder: "____-___"
      });
      $('.input-money').mask("#.##0,00",
      {
        reverse: true
      });
      $('.input-phoneus').mask('(000) 000-0000');
      $('.input-mixed').mask('AAA 000-S0S');
      $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
      {
        translation:
        {
          'Z':
          {
            pattern: /[0-9]/,
            optional: true
          }
        },
        placeholder: "___.___.___.___"
      });
    
      {
        let toolbarOptions = [
          [
          {
            'font': []
          }],
          [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
          {
            'header': 1
          },
          {
            'header': 2
          }],
          [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
          [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
          [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
          [
          {
            'direction': 'rtl'
          }], // text direction
          [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
          [
          {
            'align': []
          }],
          ['clean'] // remove formatting button
        ];
        let quill = new Quill(editor,
        {
          modules:
          {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        });
      }
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function()
      {
        'use strict';
        window.addEventListener('load', function()
        {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          let forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          let validation = Array.prototype.filter.call(forms, function(form)
          {
            form.addEventListener('submit', function(event)
            {
              if (form.checkValidity() === false)
              {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script>
      let uptarg = document.getElementById('drag-drop-area');
      if (uptarg)
      {
        let uppy = Uppy.Core().use(Uppy.Dashboard,
        {
          inline: true,
          target: uptarg,
          proudlyDisplayPoweredByUppy: false,
          theme: 'dark',
          width: 770,
          height: 210,
          plugins: ['Webcam']
        }).use(Uppy.Tus,
        {
          endpoint: 'https://master.tus.io/files/'
        });
        uppy.on('complete', (result) =>
        {
          console.log('Upload complete! We’ve uploaded these files:', result.successful)
        });
      }
    </script>
    <script src="/dashboard/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
   
    

<script>
  function searchBlogCatFunction() {
    let searchInput, inputParent, table, tr, td, i, txtValue, filterSaerch, filterParent, code, name, date, status, view;
    inputSearch = document.getElementById("searchInput").value.toUpperCase();
    inputParent = document.getElementById("inputParent").value.toUpperCase();
    filterSaerch = inputSearch.value.toUpperCase();
    filterParent = inputParent.value.toUpperCase();
    table = document.getElementById("blogCategoryTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filterSaerch) > -1 || txtValue.toUpperCase().indexOf(filterParent) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  
</script>
  <script type="text/javascript" src="/dashboard/js/function.script.js"></script>
  <script type="text/javascript" src="/dashboard/js/jquery.3.3.1.js"></script>

  <script type="text/javascript" src="/dashboard/datapicker/jquery.min.js"></script>
  <script type="text/javascript" src="/dashboard/datapicker/jquery.mpdatepicker.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/dashboard/datapicker/jquery.mpdatepicker.min.css"/>
  
  <script>
     $(function () {
      $(".sample-date-picker").mpdatepicker({
      'timePicker': true,
      onOpen: function () {
          console.log('open');
      },
      onSelect: function (selected) {
          console.log('select', selected);
      },
      onChange: function (oldVal, newVal) {
          console.log('change', oldVal, newVal);
      },
      onClose: function () {
          console.log('close');
        },
      });
    });
  </script>
  

<%-script%>
  

</body>
</html>
