<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">


                <div class="card shadow mb-4">
                    <div class="card-header">
                        <strong class="card-title">ویرایش دسته بندی خبر</strong>
                        <a href="/dashboard/news_category/"
                            style="color: #1b68ff; font-size: 0.85rem; text-decoration: none; margin: 2px ; border-radius: 10px; position: absolute; left: 20px; border: 1px solid #1b68ff; padding: 0px 10px;">
                            <i class="fa fa-sign-out" style="margin: 5px;"></i>
                            بازگشت</a>
                        <a href="/dashboard/news_category/add"
                            style="color: #1b68ff; font-size: 0.85rem; text-decoration: none; margin: 2px ; border-radius: 10px; position: absolute; left: 120px; border: 1px solid #1b68ff; padding: 0px 10px;">
                            <i class="fa fa-add" style="margin: 5px;"></i>
                            افزودن</a>
                    </div>
                    <div class="card-body">
                        <form id="frm_updateNewsCategory">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label for="image_input" style="font-size: 0.9rem;">انتخاب تصویر</label>
                                          <input type="file" name="image" id="input-b1" class="file" style="padding-left: 10px;"
                                            data-browse-on-zone-click="true" placeholder="<%= newsCategory.file.coverImageUrl%>">
                                        </div>
                    
                                        <div class="card-deck mb-4" style="margin-right: 30px; margin-top: 20px;">
                                          <div class="card border-0 bg-transparent">
                                            <img src="<%=newsCategory.file.coverImageUrl%>" alt="..." class="card-img-top img-fluid rounded">
                                            <div class="card-body">
                                              <h5 class="h6 card-title mb-1">نام فایل : <%= newsCategory.file.filename%>
                                              </h5>
                                              <p class="card-text">
                                                <span class="badge badge-light text-muted mr-2">سایز تصویر : MB <%= newsCategory.file.size%> </span>
                                                <span class="badge badge-pill badge-light text-muted">فرمت فایل : <%= newsCategory.file.mimetype%>
                                                    </span>
                                              </p>
                                            </div>
                                          </div> <!-- .card -->
                                        </div>
                                      </div>

                                    <div class="form-group mb-3">
                                        <label for="title" style="font-size: 0.9rem;">عنوان</label>
                                        <% if(newsCategory.title){%>
                                            <input type="text" name="title" id="title" class="form-control"
                                                style="background-color: rgb(243, 243, 243);"
                                                placeholder="<%= newsCategory.title%>">
                                            <%} else{ %>
                                                <input type="text" name="title" id="title" class="form-control"
                                                    style="background-color: rgb(243, 243, 243);">
                                                <%}%>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="slug" style="font-size: 0.9rem;">عنوان انگلیسی</label>
                                        <% if(newsCategory.slug){%>
                                            <input type="text" id="slug" name="slug" class="form-control"
                                                style="background-color: rgb(243, 243, 243);"
                                                placeholder="<%= newsCategory.slug%>">
                                            <%} else {%>
                                                <input type="text" id="slug" name="slug" class="form-control"
                                                    style="background-color: rgb(243, 243, 243);">
                                                <%}%>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label style="font-size: 0.9rem;" for="description_input">توضیحات</label>
                                        <div class="col-sm-12">
                                            <%if(newsCategory.description){%>
                                                <textarea name="description" id="editor" rows="10" cols="80"
                                                    placeholder="<%= newsCategory.description%>"></textarea>
                                                <%} else{%>
                                                    <textarea name="description" id="editor" rows="10"
                                                        cols="80"></textarea>
                                                    <%}%>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label style="font-size: 0.9rem;" for="tags_input">برچسب ها</label>
                                        <div class="col-sm-12">
                                            <%if(newsCategory.tags){%>
                                                <textarea name="tags" class="form-control"
                                                    style="font-size: 0.8rem; background-color: rgb(243, 243, 243);"
                                                    id="tags_input" rows="6"
                                                    placeholder="<%= newsCategory.tags%>"></textarea>
                                                <%} else{%>
                                                    <textarea name="tags" class="form-control"
                                                        style="font-size: 0.8rem; background-color: rgb(243, 243, 243);"
                                                        id="tags_input" rows="6"></textarea>
                                                    <%}%>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="parent" style="font-size: 0.9rem;">دسته بندی والد</label>
                                        <div class="col-sm-4">
                                            <select name="parent"
                                                style="font-size: 0.75rem; background-color: rgb(243, 243, 243);"
                                                class="form-control select2" id="parent">
                                                <%if(newsCategory.parent){%>
                                                    <option value="">
                                                        <%= newsCategory.parent.title%>
                                                    </option>

                                                    <%} else{%>
                                                        <option value="6589d430053a84a4ed2d9829">نامشخص</option>
                                                        <%}%>
                                                            <optgroup>
                                                                <option value="6589d430053a84a4ed2d9829">نامشخص</option>
                                                                <% getParentNewsCategory.forEach(item=> {%>
                                                                    <option value="<%= item._id%>">
                                                                        <%= item.title%>
                                                                    </option>
                                                                    <%})%>

                                                            </optgroup>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="show_in_archive" style="font-size: 0.9rem;">نمایش در
                                            آرشیو</label>
                                        <%if(newsCategory.show_in_archive == true){%>
                                            <select name="show_in_archive" style="background-color: rgb(243, 243, 243);"
                                                id="show_in_archive" class="form-control">
                                                <option selected value="true">فعال</option>
                                                <option value="false">غیر فعال</option>
                                            </select>
                                            <%} else if(newsCategory.show_in_archive == false){%>
                                                <select name="show_in_archive"
                                                    style="background-color: rgb(243, 243, 243);" id="show_in_archive"
                                                    class="form-control">
                                                    <option value="true">فعال</option>
                                                    <option selected value="false">غیر فعال</option>
                                                </select>
                                                <%}%>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="priorityinput" style="font-size: 0.9rem;">دسته بندی پیش فرض</label>
                                        <%if(newsCategory.priority == true){%>
                                        <select name="priority" style="background-color: rgb(243, 243, 243);"
                                            id="priorityinput" class="form-control">
                                            <option selected value="true">فعال</option>
                                            <option value="false">غیر فعال</option>
                                        </select>
                                        <%} else if(newsCategory.priority == false){%>
                                        <select name="priority" style="background-color: rgb(243, 243, 243);"
                                            id="priorityinput" class="form-control">
                                            <option value="true">فعال</option>
                                            <option selected value="false">غیر فعال</option>
                                        </select>
                                        <%}%>
                                    </div>

                                    <div class="form-group mb-2">
                                        <button onclick="updateNewsCategory('<%= newsCategory.code%>')" class="btn btn-primary"
                                            style="padding: 5px 20px; font-size: 0.85rem;">ویرایش اطلاعات</button>
                                    </div>

                                </div> <!-- /.col -->
                            </div>
                        </form>

                        <%if(messages){%>
                            <div class="alert">
                                <strong style="color: rgb(51, 141, 56);">

                                    <%= messages?? "" %>
                                </strong>
                            </div>
                            <%}%>
                                <%if(errors){%>

                                    <div class="alert">
                                        <strong style="color: rgb(245, 39, 108);">
                                            <%= errors?? "" %>
                                        </strong>
                                    </div>
                                    <%}%>



                    </div>
                </div> <!-- / .card -->
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main> <!-- main -->

<script type="text/javascript">

    $(document).ready(function () {

        window.setTimeout(function () {

            $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                $(this).remove();
            });
        }, 2000);

    });
</script>