<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">


                <div class="card shadow mb-4">
                    <div class="card-header">
                        <strong class="card-title">ویرایش نقش</strong>
                        <a href="/dashboard/permission/"
                            style="color: #1b68ff; font-size: 0.85rem; text-decoration: none; margin: 2px ; border-radius: 10px; position: absolute; left: 20px; border: 1px solid #1b68ff; padding: 0px 10px;">
                            <i class="fa fa-sign-out" style="margin: 5px;"></i>
                            بازگشت</a>
                        <a href="/dashboard/permission/add"
                            style="color: #1b68ff; font-size: 0.85rem; text-decoration: none; margin: 2px ; border-radius: 10px; position: absolute; left: 120px; border: 1px solid #1b68ff; padding: 0px 10px;">
                            <i class="fa fa-add" style="margin: 5px;"></i>
                            افزودن</a>
                    </div>
                    <div class="card-body">
                        <form id="frm_updatePermission">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group mb-3">
                                        <label for="title" style="font-size: 0.9rem;">عنوان</label>
                                        <%if(permission.title) {%>
                                            <input type="text" name="title" id="title" class="form-control"
                                                style="background-color: rgb(243, 243, 243);"
                                                placeholder="<%=permission.title%>">
                                            <%} else {%>
                                                <input type="text" name="title" id="title" class="form-control"
                                                    style="background-color: rgb(243, 243, 243);" placeholder="">
                                                <%}%>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="slug" style="font-size: 0.9rem;">عنوان انگلیسی</label>
                                        <%if(permission.slug){%>
                                            <input type="text" id="slug" name="slug" class="form-control"
                                                style="background-color: rgb(243, 243, 243);"
                                                placeholder="<%=permission.slug%>">
                                            <%} else{%>
                                                <input type="text" id="slug" name="slug" class="form-control"
                                                    style="background-color: rgb(243, 243, 243);" placeholder="">
                                                <%}%>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label style="font-size: 0.9rem;" for="description">توضیحات</label>
                                        <div class="col-sm-12">
                                            <%if(permission.description){%>
                                                <textarea name="description" class="form-control"
                                                    style="font-size: 0.8rem; background-color: rgb(243, 243, 243);"
                                                    id="description" rows="6"
                                                    placeholder="<%=permission.description%>"></textarea>
                                                <%} else{%>
                                                    <textarea name="description" class="form-control"
                                                        style="font-size: 0.8rem; background-color: rgb(243, 243, 243);"
                                                        id="description" rows="6" placeholder=""></textarea>
                                                    <%}%>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label style="font-size: 0.9rem;" for="content">محتوا</label>
                                        <div class="col-sm-12">
                                            <%if(permission.content){%>
                                                <textarea name="content" class="form-control"
                                                    style="font-size: 0.8rem; background-color: rgb(243, 243, 243);"
                                                    id="content" rows="6" placeholder="<%=permission.content%>"></textarea>
                                                <%} else{%>
                                                    <textarea name="content" class="form-control"
                                                        style="font-size: 0.8rem; background-color: rgb(243, 243, 243);"
                                                        id="content" rows="6" placeholder=""></textarea>
                                                    <%}%>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="status" style="font-size: 0.9rem;">وضعیت</label>
                                        <%if(permission.status==true){%>
                                            <select name="status" style="background-color: rgb(243, 243, 243);"
                                                id="status" class="form-control">
                                                <option selected value="true">فعال</option>
                                                <option value="false">غیر فعال</option>
                                            </select>
                                            <%} else if(permission.status==false){%>
                                                <select name="status" style="background-color: rgb(243, 243, 243);"
                                                    id="status" class="form-control">
                                                    <option value="true">فعال</option>
                                                    <option selected value="false">غیر فعال</option>
                                                </select>
                                                <%}%>
                                    </div>

                                    <div class="form-group mb-2">
                                        <button onclick="updatePermission('<%= permission.code%>')" class="btn btn-primary"
                                            style="padding: 5px 20px; font-size: 0.85rem;">ویرایش اطلاعات</button>
                                    </div>

                                </div> <!-- /.col -->
                            </div>
                        </form>

                        <%if(messages){%>
                            <div class="alert">
                                <strong style="color: rgb(51, 141, 56);">

                                    <%= messages?? "" %>
                                </strong>
                            </div>
                            <%}%>
                                <%if(errors){%>

                                    <div class="alert">
                                        <strong style="color: rgb(245, 39, 108);">
                                            <%= errors?? "" %>
                                        </strong>
                                    </div>
                                    <%}%>



                    </div>
                </div> <!-- / .card -->
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main> <!-- main -->

<script type="text/javascript">

    $(document).ready(function () {

        window.setTimeout(function () {

            $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                $(this).remove();
            });
        }, 2000);

    });
</script>