<!doctype html>
<html lang="en">
   

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="website/images/favicon.png">
      <%if(setting){%> 
        <title><%= setting.title%></title>
        <%} else if(setting == null){%> 
            <title>وب سایت اکو سیستم</title>
            <%}%>

      <script src="https://kit.fontawesome.com/7af5019731.js" crossorigin="anonymous"></script>
      
      <!-- CSS FILES START -->
      <link href="website/css/custom.css" rel="stylesheet">
      <link href="website/css/color.css" rel="stylesheet">
      <link href="website/css/responsive.css" rel="stylesheet">
      <link href="website/css/owl.carousel.min.css" rel="stylesheet">
      <link href="website/css/bootstrap.min.css" rel="stylesheet">
      <link href="website/css/prettyPhoto.css" rel="stylesheet">
      <link href="website/css/all.min.css" rel="stylesheet">
      <!-- CSS FILES End -->
   </head>
  
   <body>
      <div class="wrapper home1">
         
         <!--Header Start-->
         <%-include("./headers.ejs")%>
         <!--Header End-->

          <!--slider Start-->
          <%-include("./slider.ejs")%>
          <!--slider End-->
         
         <%-body%>
         
         <!--Footer Start-->
         <%-include("./footer.ejs")%>
         <!--Footer End--> 
         <nav class="sidenav">
            <ul class="main">
               <li><a href="index-2.html">Home</a></li>
               <li><a href="about.html">About Us</a></li>
               <li><a href="events-grid.html">Events</a></li>
               <li><a href="causes.html">Causes</a></li>
               <li><a href="projects-grid.html">Projects</a></li>
               <li><a href="blog.html">Blog</a></li>
               <li><a href="shop-two.html">Shop</a></li>
               <li><a href="contact-one.html">Contact</a></li>
            </ul>
         </nav>
         <div class="overlay"></div>
      </div>
      <!--   JS Files Start  --> 
      <script src="website/js/jquery-3.3.1.min.js"></script> 
      <script src="website/js/jquery-migrate-1.4.1.min.js"></script> 
      <script src="website/js/popper.min.js"></script> 
      <script src="website/js/bootstrap.min.js"></script> 
      <script src="website/js/owl.carousel.min.js"></script> 
      <script src="website/js/jquery.prettyPhoto.js"></script> 
      <script src="website/js/isotope.min.js"></script> 
      <script src="website/js/custom.js"></script>
   </body>

</html>


